In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_hitter = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HK/kbo_salary/KBO_Salary/hitter_salary_debut.csv')

In [3]:
import pandas as pd

# '후년연봉'을 4분위로 나누어 4개의 집단으로 분류
df_hitter['연봉구간'] = pd.qcut(df_hitter['후년연봉'], q=4, labels=False)

# 각 군집의 경계 확인
cluster_ranges = []
for i in range(df_hitter['연봉구간'].nunique()):
    cluster_min = df_hitter[df_hitter['연봉구간'] == i]['후년연봉'].min()
    cluster_max = df_hitter[df_hitter['연봉구간'] == i]['후년연봉'].max()
    cluster_ranges.append((cluster_min, cluster_max))

# 결과 출력
df_hitter[['후년연봉', '연봉구간']].head(), cluster_ranges

(    후년연봉  연봉구간
 0  50000     3
 1  60000     3
 2  60000     3
 3  40000     3
 4  31000     3,
 [(3000, 4500), (4700, 9000), (9200, 30000), (31000, 270000)])

In [4]:
def assign_salary_range(row):
  if row < 4700:
    return 0
  elif row < 9200:
    return 1
  elif row < 31000:
    return 2
  else:
    return 3

df_hitter['현재연봉구간'] = df_hitter['연봉(만원)'].apply(assign_salary_range)

In [5]:
df_hitter['연봉구간'].value_counts()

연봉구간
2    148
0    138
1    131
3    118
Name: count, dtype: int64

In [6]:
df_hitter['현재연봉구간'].value_counts()

현재연봉구간
0    194
2    124
3    111
1    106
Name: count, dtype: int64

In [7]:
import pandas as pd

# '후년연봉'을 4분위로 나누어 4개의 집단으로 분류
df_hitter['연봉구간'] = pd.qcut(df_hitter['후년연봉'], q=4, labels=False)

# 각 군집의 경계 확인
cluster_ranges = []
for i in range(df_hitter['연봉구간'].nunique()):
    cluster_min = df_hitter[df_hitter['연봉구간'] == i]['후년연봉'].min()
    cluster_max = df_hitter[df_hitter['연봉구간'] == i]['후년연봉'].max()
    cluster_ranges.append((cluster_min, cluster_max))

# 결과 출력
df_hitter[['후년연봉', '연봉구간']].head(), cluster_ranges

(    후년연봉  연봉구간
 0  50000     3
 1  60000     3
 2  60000     3
 3  40000     3
 4  31000     3,
 [(3000, 4500), (4700, 9000), (9200, 30000), (31000, 270000)])

In [8]:
def assign_salary_range(row):
  if row < 4700:
    return 0
  elif row < 9200:
    return 1
  elif row < 31000:
    return 2
  else:
    return 3

df_hitter['현재연봉구간'] = df_hitter['연봉(만원)'].apply(assign_salary_range)

In [9]:
df_hitter['연봉구간'].value_counts()

연봉구간
2    148
0    138
1    131
3    118
Name: count, dtype: int64

In [10]:
df_hitter['현재연봉구간'].value_counts()

현재연봉구간
0    194
2    124
3    111
1    106
Name: count, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split


data = df_hitter[['TB', 'H', '연차', 'AB', 'RBI', 'MH', 'R', 'BB', '2B', 'IBB', 'WAR','현재연봉구간']]
target = df_hitter['연봉구간']

X_train, X_test, y_train, y_test = train_test_split(
    data,
    target,
    test_size=0.3,
    random_state=0
)

In [13]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score, accuracy_score, precision_score, recall_score

model = RandomForestClassifier(max_depth = 6, min_samples_leaf = 12, min_samples_split = 8, n_estimators= 300)

model.fit(X_train,y_train)

# train 데이터 예측
y_train_pred = model.predict(X_train)

# test 데이터 예측
y_test_pred = model.predict(X_test)

# 정확도 계산
print(f'Train Accuracy : {model.score(X_train, y_train)}')
print(f'Test Accuracy  : {model.score(X_test, y_test)}')

# 훈련 데이터 예측 평가
train_accuracy = accuracy_score(y_train,y_train_pred)
train_f1 = f1_score(y_train,y_train_pred, average = 'weighted')
train_precision = precision_score(y_train,y_train_pred, average = 'weighted')
train_recall = recall_score(y_train,y_train_pred, average = 'weighted')

# 테스트 데이터 예측 평가
test_accuracy = accuracy_score(y_test, y_test_pred)
test_f1 = f1_score(y_test, y_test_pred, average = 'weighted')
test_precision = precision_score(y_test, y_test_pred, average = 'weighted')
test_recall = recall_score(y_test, y_test_pred, average = 'weighted')



print(f"Train 정확도 : {train_accuracy}")
print(f"Train 정밀도 : {train_precision}")
print(f"Train 재현율 : {train_recall}")
print(f'Train F1 score : {train_f1}')

print(f"Test 정확도 : {test_accuracy}")
print(f"Test 정밀도 : {test_precision}")
print(f"Test 재현율 : {test_recall}")
print(f'Test F1 score : {test_f1}')

Train Accuracy : 0.8529411764705882
Test Accuracy  : 0.8198757763975155
Train 정확도 : 0.8529411764705882
Train 정밀도 : 0.851863742030531
Train 재현율 : 0.8529411764705882
Train F1 score : 0.8518078664903562
Test 정확도 : 0.8198757763975155
Test 정밀도 : 0.8303945249597423
Test 재현율 : 0.8198757763975155
Test F1 score : 0.8229512460553599

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_test_pred))